.header h1{
    margin :1%;
  }
  .content{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
   div{
    display: flex;
    flex-direction: row;
    .btn{
      margin :2%;
    }
   }
  }